<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Visual Space</title>
  <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <script src="https://rawgit.com/aframevr/aframe/9257bcb/dist/aframe-master.min.js"></script>
  <script src="https://unpkg.com/aframe-text-component@^0.4.1/dist/aframe-text-component.min.js"></script>
</head>
<body>
  {{{body}}}
  <script>
    AFRAME.registerComponent('cursor-listener', {
    init: function () {
      var COLORS = ['red', 'green', 'blue'];
      this.el.addEventListener('click', function (evt) {
        var randomIndex = Math.floor(Math.random() * COLORS.length);
        this.setAttribute('material', 'color', COLORS[randomIndex]);
        console.log('I was clicked at: ', evt.detail.intersection.point);
      });
    }
  });
  </script>
</body>
</html>